<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Enabled</th>
      <th>Password Setted</th>
      <th>Apps</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= enabled_icon(user.enabled) %></td>
        <td><%= user.password_setted %></td>
        <td><%= permissions_state(user.permissions_state) %></td>
        <td><%= link_to 'Apps', user_allowed_apps_path(user), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Set Password', password_user_path(user), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :footer do %>
<%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
<% end %>
