<h1>Editing User Password</h1>

<%= form_with(url: update_password_user_path(@user), local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="table">
  <tr>
    <td>
      <strong>Name:</strong>
    </td>
    <td>
      <%= @user.name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Email:</strong>
    </td>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr>
    <td>
      <%= form.label :password %>
    </td>
    <td>
    <%= form.text_field :password %>
    </td>
  </tr>
</table>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>

<% content_for :operations do %>
<%= link_to 'Show', @user, class: 'btn btn-primary' %>
<% end %>