<h1>Editing User Password</h1>

<%= form_with(url: update_password_user_path(@user), local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<dl class="row">
  <dt class="col-sm-3">
    Name:
  </dt>
  <dd class="col-sm-9">
      <%= @user.name %>
  </dd>
  <dt class="col-sm-3">
    Email:
  </dt>
  <dd class="col-sm-9">
      <%= @user.email %>
  </dd>
</dl>
  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :password, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>

<% content_for :operations do %>
<%= link_to 'Show', @user, class: 'btn btn-primary' %>
<% end %>