<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @user.enabled %>
</p>

<p>
  <strong>User key:</strong>
  <%= @user.user_key %>
</p>

<p>
  <strong>Password Setted:</strong>
  <%= @user.password_setted %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Set Password', password_user_path(@user) %>
