<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @user.enabled %>
</p>

<p>
  <strong>User key:</strong>
  <%= @user.user_key %>
</p>

<p>
  <strong>Password Setted:</strong>
  <%= @user.password_setted %>
</p>

<p>
  <strong>Apps:</strong>
  <%= @user.allowed_apps.map { |allowed_app| link_to allowed_app.app.name, user_allowed_app_path(@user, allowed_app) }.join(', ').html_safe %>
</p>


<% content_for :footer do %>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Set Password', password_user_path(@user), class: 'btn btn-primary' %>
<% end %>

<% content_for :operations do %>
<%= link_to 'Configure Apps', user_allowed_apps_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Reset User Key', reset_user_key_user_path(@user), data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>