<table class="table">
  <tr>
    <td>
     <strong>Name:</strong>
    </td>
    <td>
     <%= @app.name %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>App key:</strong>
    </td>
    <td>
     <%= @app.app_key %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Permissions:</strong>
    </td>
    <td>
<pre>
<%= json_pretty_generate(@app.permissions) %>
</pre>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Jwt secret:</strong>
    </td>
    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
      <%= @app.jwt_secret %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Timeout:</strong>
    </td>
    <td>
      <%= @app.timeout %>
    </td>
  </tr>
  <tr>
    <td>
     <strong>Users:</strong>
    </td>
    <td>
     <%= @app.allowed_apps.map { |allowed_app| link_to "#{allowed_app.user.name} #{permission_state(allowed_app)}".html_safe, user_allowed_app_path(allowed_app.user, allowed_app) }.join(', ').html_safe %>
    </td>
  </tr>
</table>


<% content_for :footer do %>
<%= link_to 'Edit', edit_app_path(@app), class: 'btn btn-primary' %>
<% end %>

<% content_for :operations do %>
    <%= link_to 'Reset App Key', reset_app_key_app_path(@app), data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
    <%= link_to 'Reset JWT Secret', reset_jwt_secret_app_path(@app), data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
    <%= link_to 'Destroy', @app, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

<% end %>
