<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>App key:</strong>
  <%= @app.app_key %>
</p>

<p>
  <strong>Permissions:</strong>
<pre>
<%= json_pretty_generate(@app.permissions) %>
</pre>
</p>

<p>
  <strong>Jwt secret:</strong>
  <%= @app.jwt_secret %>
</p>

<p>
  <strong>Timeout:</strong>
  <%= @app.timeout %>
</p>
<p>
<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
</p>
<p>
<%= link_to 'Reset App Key', reset_app_key_app_path(@app), data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Reset JWT Secret', reset_jwt_secret_app_path(@app), data: { confirm: 'Are you sure?' } %>
</p>
