  <%= render "layouts/pre_yield" %>
      <% if @fullpage %>
            <%= yield %>
      <% else %>
          <div class="row">
            <div class="col-sm-9">
              <%= yield %>
            </div>
            <div class="col-sm-3" id="div-operations">
              <%= yield :operations %>
            </div>
          </div>
      <% end%>
  <%= render "layouts/post_yield" %>